.player
  height: 100%
  width: 100%
  background-repeat: no-repeat
  background-position: center

.girl-waiting
  background-image: url("./../../assets/characters/girlWaiting.svg")

.girl-winning
  background-image: url("./../../assets/characters/girlWinning.svg")

.girl-losing
  background-image: url("./../../assets/characters/girlLosing.svg")

.girl-thinking
  background-image: url("./../../assets/characters/girlThinking.svg")

.boy-waiting
  background-image: url("./../../assets/characters/boyWaiting.svg")

.boy-winning
  background-image: url("./../../assets/characters/boyWinning.svg")

.boy-losing
  background-image: url("./../../assets/characters/boyLosing.svg")

.boy-thinking
  background-image: url("./../../assets/characters/boyThinking.svg")


