
<div class="game-wrapper">
    <div class="console-wrapper" style="width: 40%;">
        <div class="players-wrapper">
            <app-boy class="girl" [playerNo]="1" [playersTurn]="playerTurn" [winner]="winner"></app-boy>
            <app-boy class="boy" [playerNo]="2" [playersTurn]="playerTurn" [winner]="winner"></app-boy>
        </div>    
        <app-console class="console"></app-console>
    </div>

    <div class="board-wrapper" style="width: 60%;">
        <div class="angular-logo">
                <a href="https://angular.io/" target="_blank">
                    <div class="flex"></div>
                </a>
            </div>
        <div class="flex" style="display: flex; flex-direction: column;">        
            <div class="board">
                <div  class="square-wrapper">
                    <app-square class="square" *ngFor="let s of squares; let i = index" [value]="s" (click)="playerMove(i)"></app-square>
                </div>    
            </div>
            <app-button-bar class="button-bar"></app-button-bar>
        </div>
    </div>
</div>    