
<div class="game-wrapper">
    <div class="console-wrapper">
        <div class="players-wrapper">
            <app-boy [playerNo]="1"></app-boy>
            <app-boy [playerNo]="2"></app-boy>
        </div>    
        <app-console></app-console>
    </div>

    <div class="flex board-wrapper">
        <div class="angular-logo">
                <a href="https://angular.io/" target="_blank">
                    <div class="flex"></div>
                </a>
            </div>
        <div class="flex" style="display: flex; flex-direction: column;">        
            <div class="board">
                <div  class="square-wrapper">
                    <app-square class="square" *ngFor="let s of squares; let i = index" [value]="s" (click)="playerMove(i)"></app-square>
                </div>    
            </div>
            <app-button-bar></app-button-bar>
        </div>
    </div>
</div>    