
.game-wrapper
  background-color: #e4c4ab
  display: flex

.board-wrapper
  display: flex
  flex-direction:column

.board
  width: 565px
  height: 500px
  padding-right: 65px
  box-sizing: border-box
  background-image: url("./../../assets/board.svg")
  background-repeat: no-repeat

.square-wrapper
  padding: 10px
  box-sizing: border-box
  width: 100%
  height: 100%
  display: flex
  flex-wrap: wrap

.square
  border: 0px 
  margin: 1%
  height: calc(94%/3)
  width: calc(94%/3)

.angular-logo
  width: 150px
  height: 120px
  margin-top: 40px
  background-image: url("./../../assets/angularLogo.svg")

.console-wrapper
  display: flex
  flex-direction: column

.players-wrapper
  display: flex  